#app-content-wrapper {
    height: 100%;
}

#editor {
    height: 100%;
    width: 100%;
}

#editor .input {
    height: calc(100% - 51px);
    width: 100%;
}

#editor .save {
    height: 50px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

#editor textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
    overflow-y: auto;
}

#editor button {
    height: 44px;
}

#app-navigation {
    z-index: 2500;
    padding-left: 100 px;
}
