<template>
<div id="content" class="app-organization">
     
<AppNavigationNew v-if="!loading"
        :text="t('organization', 'Send Mail')"
    :disabled="false"
    button-id="new-org-type-button"
    button-class="icon-add"
    @click="sendmail" />



</div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script>
import ActionButton from '@nextcloud/vue/dist/Components/ActionButton'
import AppContent from '@nextcloud/vue/dist/Components/AppContent'
import AppNavigation from '@nextcloud/vue/dist/Components/AppNavigation'
import AppNavigationItem from '@nextcloud/vue/dist/Components/AppNavigationItem'
import AppNavigationNew from '@nextcloud/vue/dist/Components/AppNavigationNew'
import Multiselect from 'vue-multiselect'
import axios from '@nextcloud/axios'
import '@nextcloud/l10n'

export default {
    name: 'App',
    components: {
        ActionButton,
        Multiselect,
        AppContent,
        AppNavigation,
        AppNavigationItem,
        AppNavigationNew,
    },
    data: function() {
        return {
            etests: [],
        }
    },
    computed: {
        /**
         * Return the currently selected note object
         * @returns {Object|null}
         */
         /**
         * Return the currently selected note object
         * @returns {Object|null}
         */
        
    },
    /**
     * Fetch list of notes when the component is loaded
     */
    async mounted() {
          
    },
    methods: {
       
        /**
         * Create a new note and focus the note content field automatically
         * @param {Object} note Note object
         */
        async sendmail() {
            try {
                

                this.etests.toUserEmail = 'raja.hadi.ashraf@gmail.com'
                this.etests.organizations = 'test'
                this.etests.toDisplayName = 'Tester'


                const responseT = await axios.post(OC.generateUrl(`/apps/organization/api/v1/export`, this.etests))

                console.log(responseT.data)
     
             

            } catch (e) {
                console.error(e)
                OCP.Toast.error(t('organization', 'Could not send mail'))
            }
            
        },
    },
}
</script>
<style scoped>
#content {
    display: flex;
    transition: transform var(--animation-quick);
    margin-top: 20px;
    position: fixed;
}
#app-content > div {
    width: max-content;
    height: 100%;
    display: flex;
    flex-grow: 1;
}
#app-content {
    z-index: 1000;
    background-color: var(--color-main-background);
    position: relative;
    flex-basis: 100vw;
    min-height: 100%;
    transition: transform var(--animation-quick);   
}
#multiselect {
    padding-bottom: 30px;
    /* width: 100px; */
}
#app-navigation {
    will-change: transform;
    transition: transform var(--animation-quick);
    width: 300px;
    position: fixed;
    top: 50px;
    margin-top: 100px;
    margin-left: 100px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}
input[type='text'] {
    width: 100%;
}
textarea {
    flex-grow: 1;
    width: 100%;
}

#app-con {
    margin-top: 80px;
    position: relative;
    overflow: scroll;
    width: calc(100vw - 480px);
    overflow-x: scroll;
    margin-left: 80px;
}

#typeView {
    flex-direction: column;
}

#AltType {
    height: fit-content;
    overflow: scroll;
    flex-direction: row;
    margin-top: 30px;
    padding-bottom: 30px;
    width: max-content;
    /* width: 100px; */
}
</style>

